@import './reset.css';
@import './common.scss';

/* common */
.main {
  text-transform: uppercase;
  white-space: nowrap;
}

.bg-container {
  position: relative;
  width: 100%;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.hgroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  .hgroup__h3 {
    font-size: 40px;
  }
  .hgroup__h2 {
    font-size: smaller;
  }
  .hgroup__h1 {
    font-size: 24vw;
  }
}

.article {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 5vw;

  &__h1 {
    position: relative;
    font-size: 9.6vw;
    text-align: center;
    text-transform: none;
    line-height: normal;

    .img-box {
      position: absolute;
      width: 13vw;
      top: 50%;
      left: 50%;
      transform: rotate(-10deg) translate(-50%, -50%);
      img {
        width: 100%;
      }
    }
  }

  &__contents {
    display: flex;
    row-gap: 0.977vw;
    column-gap: 5.859vw;
    line-height: 1.5;

    &.article__contents--flex-column {
      flex-direction: column;
    }
  }

  &__strong {
    font-size: clamp(9px, 2.396vw, 38px);
    font-weight: bold;
  }

  &__p {
    font-size: clamp(7px, 1.27vw, 20px);
    line-height: 2;
  }

  &__button {
    display: block;
    width: fit-content;
    font-weight: bold;
    font-size: clamp(8px, 1.953vw, 30px);
    margin-top: 17%;
    padding: 0.977vw 2.441vw;
    border-radius: 4.883vw;
    color: #fff;

    &--handly {
      background-color: #8b5ffc;
    }
    &--popee {
      background-color: #ff60ae;
    }
    &--mentor {
      background-color: #e94d20;
    }
  }
}

.solution-tag {
  position: absolute;
  font-size: 22px;
  border: 0.5px solid #b9b9b9;
  background: hsla(0, 0%, 57%, 0.5);
  font-weight: bold;
  padding: 1.2% 2%;
}

.container {
  color: #fff;
  background-color: #000;
}

/* @extend */
%solutions {
  font-weight: 300;
  font-size: 14vw;
  letter-spacing: -0.05em;
  line-height: 1.15;
}

/* section-opening.css */
.section-opening {
  height: 100vh;
  display: flex;

  &__h1 {
    position: relative;
    align-self: flex-end;

    .we-have,
    .solutions {
      @include rotate-wrapper;
    }

    .we-have {
      position: absolute;
      top: 0;
      left: 40%;
      font-size: 1.465vw;
    }

    .solutions {
      @extend %solutions;
    }
  }

  &__text {
    position: absolute;
    top: 20vh;
    right: 15vw;
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: flex-end;

    .en,
    .ko {
      width: max-content;
      display: flex;
      flex-direction: column;

      & > * {
        @include rotate-wrapper;
      }
    }

    .en {
      font-size: 1.953vw;
      line-height: 1.3;
    }

    .ko {
      font-size: 1.172vw;
      line-height: 1.5;

      div:first-child,
      div:last-child {
        text-align: end;
      }
    }
  }
}

/* section-index.css */
.section-index {
  position: relative;
  height: 100vh;
  color: #000;
  background-color: #fff;

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 120px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    font-weight: bold;

    .row1 {
      font-size: 1.953vw;
    }

    .row2 {
      @extend %solutions;
      position: relative;
      height: min-content;
      align-self: center;
      display: flex;
      overflow: hidden;

      ._3 {
        color: #007dee;
        padding-right: 1vw;
      }

      .tag {
        font-size: 1.953vw;

        &.handly {
          top: 40%;
          left: 32%;
          transform: rotate(-10deg);
        }
        &.popee {
          top: 27%;
          left: 55%;
          transform: rotate(10deg);
        }
        &.mentor {
          top: 40%;
          left: 68%;
          transform: rotate(-10deg);
        }
      }
    }

    .row3 {
      margin-left: 10%;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    gap: 5%;

    .image-container {
      width: 20%;
      img {
        width: 100%;
      }
    }
  }
}

/* section-handly.css */

.section-handly {
  overflow: hidden;

  &__intro {
    position: relative;
    align-items: flex-end;
    text-shadow: 0 0 3px rgb(179, 179, 179);
    margin-bottom: 20vh;
  }

  &__macbook {
    width: max-content;
    display: flex;
    gap: 4.883vw;
    transform: translateX(-15%);

    .img-box {
      position: relative;
      width: 70vw;

      img {
        width: 100%;
      }
      video {
        position: absolute;
      }
    }

    .article {
      padding: 0;
      align-self: flex-end;
      text-shadow: 0 0 3px rgb(148, 148, 148);
      margin-bottom: 10vw;
    }
  }

  .section-handly__article {
    background-color: #fff;
    color: #000;

    .article__h1 {
      span {
        background: linear-gradient(156deg, #40dcfd, #9f78fb 34.54%, #723dfc);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

/* section-popee.css */
.section-popee {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &__inner {
    width: fit-content;
    height: 100%;
    display: flex;
    color: #ff60ae;

    & > * {
      flex-shrink: 0;
    }
  }
}

.section-popee__intro {
  position: relative;
  width: 100vw;
  align-items: center;
  .hgroup {
    position: relative;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    background: linear-gradient(to right, transparent, black);
    content: '';
  }
}

.section-popee__horizontal-02 {
  --width: 110vw;

  width: var(--width);
  position: relative;
  background-color: #000;

  .bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      width: var(--width);
      height: 100%;
      object-fit: cover;
    }
  }

  .img-box {
    position: absolute;
    width: 100vw;
    bottom: 3%;

    .text-img {
      width: 90%;
      margin: auto;
      img {
        width: 100%;
      }
    }

    .union-img {
      position: absolute;
      bottom: 5%;
      width: 25%;
      img {
        width: 100%;
      }
    }

    .union-img-01 {
      left: 8.1%;
    }
    .union-img-02 {
      left: 32.5%;
    }
  }

  .article {
    position: absolute;
    right: 12%;
    top: 15%;
    padding: 0;
  }

  .article.active {
    .article__strong > *,
    .article__p > * {
      @include rotate-wrapper();
    }
  }
}

.section-popee__horizontal-03 {
  position: relative;
  width: 90vw;
  background-color: #fff;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  .canvas-text {
    position: absolute;
    display: inline-block;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    pointer-events: none;

    span {
      display: inline-block;
      width: fit-content;
      border: 1px solid #fff;
      border-radius: 30vw;
      color: #fff;
      font-size: 1.1vw;
      padding: 0.7vw 1.1vw;
    }
  }

  .article {
    position: absolute;
    right: 10%;
    top: 15vh;
    z-index: 999;
    pointer-events: none;
  }

  .wall {
    position: absolute;
    width: 5vw;
    display: flex;
    flex-direction: column;
    height: 200%;
    z-index: 999;

    &.wall--left {
      left: -4.5vw;
    }
    &.wall--right {
      right: -4.5vw;
    }

    img {
      width: 100%;
      height: 50%;
      object-fit: cover;
    }
  }
  .wall.active {
    animation-play-state: running;
  }
}

@keyframes wall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.section-popee__horizontal-04 {
  position: relative;
  width: 160vw;
  background-color: #000;
  flex-direction: row;

  .article {
    display: flex;

    &__h1 {
      width: 100vw;
    }

    &__contents {
      color: #fff;
    }
  }
}

/* mentor section */

.section-mentor {
  &__intro {
    position: relative;
    height: 150vh;

    .bg {
      position: sticky;
      top: 0;
      width: 100%;
      height: 100vh;
    }

    .hgroup {
      position: absolute;
      bottom: 20%;

      .hgroup__h3 {
        text-align: center;
      }
    }
  }

  .article {
    background-color: #fff;
    color: #000;

    &__h1 {
      color: #33a467;
    }
  }
}

/* section-closing.css */

.section-closing {
  padding: 10% 0;

  &__text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    white-space: nowrap;
    padding-bottom: 220px;

    .big-text-box {
      font-size: 14vw;
    }

    .small-text-box {
      position: absolute;
      right: 10%;
      top: 10px;
      width: 27vw;
      display: flex;
      flex-direction: column;
      gap: 30px;
      line-height: 1.5;
      letter-spacing: -0.7px;

      .en {
        font-size: 1.563vw;
      }

      .ko {
        display: flex;
        flex-direction: column;
        font-size: 1.091vw;
      }
    }
  }

  .tag {
    font-size: 2.148vw;
    &--handly {
      transform: rotate(10deg);
      left: 20%;
      bottom: 60%;
    }
    &--popee {
      transform: rotate(-5deg);
      left: 52%;
      bottom: 50%;
    }
    &--mentor {
      transform: rotate(10deg);
      right: 10%;
      bottom: 45%;
    }
  }
}

.solution-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.906vw;
}

.solution-item {
  width: 100%;
  text-align: center;

  &__inner {
    position: relative;
    width: fit-content;
    margin: auto;
  }

  &__name {
    position: relative;
    z-index: 2;
    font-size: 13vw;

    &--handly {
      color: #8b5ffc;
    }
    &--mentor {
      color: #33a467;
    }
  }

  &__img-box,
  &__label,
  &__bg {
    position: absolute;
  }

  &__name,
  &__bg {
    transform: translateX(0);
    transition: transform 0.8s;
  }

  &__bg {
    z-index: 1;
    background-color: #000;
  }

  &__img-box {
    transform: translateX(0);
    transition: transform 0.8s;

    height: 100%;
    top: 0;

    img {
      height: 100%;
    }

    &--popee {
      right: 0;
    }
  }

  &__label {
    --padding-inline: 1vw;

    height: 0;
    transition: height 0.5s;

    width: fit-content;
    z-index: 3;
    font-size: 0.909vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    overflow: hidden;

    &--handly-ko {
      top: 20%;
      left: 25%;
    }
    &--handly-en {
      top: 40%;
      left: 70%;
    }
    &--popee-ko {
      top: 20%;
      left: 5%;
    }
    &--popee-en {
      top: 40%;
      left: 60%;
    }
    &--mentor-ko {
      top: 20%;
      left: 70%;
    }
    &--mentor-en {
      top: 40%;
      left: 35%;
    }

    .bg {
      z-index: -1;

      &--handly-ko {
        background-color: #a561c5;
      }
      &--handly-en {
        background-color: #5b5b5b;
      }
      &--popee-ko {
        background-color: #ff60ae;
      }
      &--popee-en {
        background-color: #5275d3;
      }
      &--mentor-ko {
        background-color: #2f6b38;
      }
      &--mentor-en {
        background-color: #ec7303;
      }
    }

    .absolute {
      position: absolute;
      left: 100%;
    }

    span {
      padding-inline: var(--padding-inline);
      animation: infinite_move 7s linear infinite;
    }
  }
}

.solution-item:hover {
  .solution-item__label {
    height: 2.5vw;
    transition: height 0.5s;
  }

  .solution-item__inner--handly,
  .solution-item__inner--mentor {
    .solution-item__img-box {
      transform: translateX(-8vw);
      transition: transform 0.8s;
    }

    .solution-item__name,
    .solution-item__bg {
      transform: translateX(8vw);
      transition: transform 0.8s;
    }
  }

  .solution-item__inner--popee {
    .solution-item__img-box {
      transform: translateX(8vw);
      transition: transform 0.8s;
    }

    .solution-item__name,
    .solution-item__bg {
      transform: translateX(-8vw);
      transition: transform 0.8s;
    }
  }
}

@keyframes infinite_move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
